* { 
    margin: 0;
    padding: 0;
  }

body {
    font-family: Roboto, sans-serif;
}

button {
  color: #FFFFFF;
  font-weight: 900;
  background-color: #3882F6;
  padding: 8px 28px;
  border-radius: 6px;
  border-color: #3882F6;
  font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.top-section {
    background-color: #1F2937;
    padding: 12px 128px;
    border: 0px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
}

.links {
    display: flex;
    gap: 24px;
    padding-right: 48px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.top-body {
    display: flex;
    flex-direction: row;
    padding: 72px 48px 72px 0px;
    align-items: center;
}




.subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.top-content {
    padding-right: 128px;
}

.subtext {
    padding: 16px 0px;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 24px;
}

.picboxes {
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
}

.imgbox {
    border-radius: 12px;
}

.section2 {
    margin: 48px 128px;
}

.s2header {
    display: flex;
    padding: 24px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    flex-wrap: wrap;
    text-align: center;
}

.section3 {
    padding: 96px 256px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    text-align: left;
}

.quote-sig {
    font-size: 18px;
    font-weight: 900;
    color: #1F2937;
    text-align: right;
}

